<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

         <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <style>
        </style>
    
    
    </head>

<body>

    <center>

        <h1>  PREDICTION :  </h1>
    
        {%if data == 0%}
        <h1>당신은 정상(CN)입니다</h1>  
        <img src='static\2.jpg'>  

        {%elif data == 1%}
        <h1>당신은 경도인지 장애(MCI)일 가능성이 높습니다</h1>  
        <img src='static\setosa.jpg'>  

        {%else%}
        <h1>당신은 치매(Dem)일 가능성이 높습니다</h1>
        <img src='static\verci.jpg'>
    
        {%endif%}

        <br><br>
        <li class="page-item"><a class="page-link" href="#" onClick="history.back();">Previous</a></li>

    </center>

</body>

</html>






